* {
  font-family: 'Poppins', sans-serif;
}

body {
  padding: 50px;
  background:linear-gradient(#45b3e0, #45e0c0) no-repeat center fixed;
  height:100vh;
}

#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}

#articles {
  display: inline-block;
  overflow: auto;
  height: 700px;
}



.notes-item{
  padding:20px;
  background:white;
  border-radius:20px;
}